/* ------------------------------------------------------------------------------------------------- */
/* VARIABLES */
/* ------------------------------------------------------------------------------------------------- */
:root {
  /* FONTS */
  --primary-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  /* COLORS */
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-color: #ffffff;
  --button-background-color: #e7e9fc;
  /*
    --modal-overlay-color:rgb(46, 47, 66,.4);
    --hero-background-color:rgba(46, 47, 66,.7);
    --modal-background-color:linear-gradient(0deg, rgba(46, 47, 66, 0.4), rgba(46, 47, 66, 0.4)),
                                linear-gradient(0deg, #FCFCFC, #FCFCFC)
     */
}
/* ------------------------------------------------------------------------------------------------- */
/* COMMON STYLES START*/
/* ------------------------------------------------------------------------------------------------- */

body {
  /* font: 16px/24px var(--primary-font); */
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--white-color);
}

.list {
  list-style: none;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.title {
  /* font: 700 36px/40px; */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: var(--dark-color);
  text-align: center;
}
/* COMMON STYLES END*/

/* ------------------------------------------------------------------------------------------------- */
/* HEADER START*/
/* ------------------------------------------------------------------------------------------------- */

/* NAVIGATION */

/* SITE LOGO */
.site-nav_logo,
.footer_logo {
  /* font: 800 18px/21px var(--logo-font); */
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  color: var(--primary-brand-color);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.site-nav_logo-text {
  color: var(--dark-color);
}

.list-link {
  font-weight: 500;
  color: var(--dark-color);
}

.list-link:hover,
.list-link:focus {
  color: var(--pressed-state-color);
}

/* ACTIVE PAGE */

.link--active {
  color: var(--pressed-state-color);
}

/* CONTACTS */
.contacts {
  font-style: normal;
  color: var(--text-color);
}
.contacts_list-link:hover,
.contacts_list-link:focus {
  color: var(--pressed-state-color);
}

/* HEADER END*/

/* ------------------------------------------------------------------------------------------------- */
/* MAIN START */
/* ------------------------------------------------------------------------------------------------- */

/* HERO */
.hero {
  background-color: var(--dark-color);
  text-align: center;
}
.hero-title {
  /* font: 700 56px/60px; */
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: var(--white-color);
  letter-spacing: 0.02em;
}
.hero-button {
  font: inherit;
  font-weight: 500;
  color: var(--white-color);
  letter-spacing: 0.04em;
  background-color: var(--primary-brand-color);
}
.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
  background-color: var(--pressed-state-color);
}
/* ------------------------------------------------------------------------------------------------- */

/* FEATURES */

.features-list_title {
  /* font: 500 20px/24px; */

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark-color);
  letter-spacing: 0.02em;
}
/* ------------------------------------------------------------------------------------------------- */

/* SERVICES */
.services_title {
  text-transform: capitalize;
}

/* ------------------------------------------------------------------------------------------------- */

/* TEAM */

/* ------------------------------------------------------------------------------------------------- */
.team {
  background-color: var(--light-color);
  text-align: center;
}
.team_list-title {
  font: 500 20px/24px;
  /* font-size: 20px;
font-weight: 500;
line-height: 1.2; */
}

/* MAIN END */

/* ------------------------------------------------------------------------------------------------- */
/* FOOTER START*/
/* ------------------------------------------------------------------------------------------------- */
.footer {
  background-color: var(--dark-color);
}
.footer_logo {
  color: var(--light-color);
}
.footer_description {
  color: var(--light-color);
}

/* FOOTER START */

/* ------------------------------------------------------------------------------------------------- */
/* PORTFOLIO */
/* ------------------------------------------------------------------------------------------------- */

/* FILTERS */
.filters-list_button {
  font-weight: 500;
  color: var(--primary-brand-color);
  letter-spacing: 0.04em;
  text-align: center;

  background-color: var(--button-background-color);
}
.filters-list_button:hover,
.filters-list_button:focus {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
}
/* PROJECTS */
.projects-list_title {
  font: 500 20px/24px;
  /* font-size: 20px;
font-weight: 500;
line-height: 1.2; */
}
